<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyCatsApp</title>

    <form action="/login" method="POST">
        Login:
        <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
</head>
