<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyCatsApp</title>
    <% let user_id = cookie.user_id; %>
    <% let email = "" %>
    <% for (let key in users) { %>
        <% if (user_id == key) { %>
            <% email = users[key].email %>
        <% } %>
    <% } %>
    <br>
    <% if (email != ""){ %>
        Logged in as <%= email %>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    <% } else { %>
        <a href="localhost:8080/login">Login</a>
        <a href="localhost:8080/register">Register</a>
    <% } %>
</head>
