<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/_header %>
</head>

<body>
    <ul>
        <li>Full URL:
            <%= urls[shortURL] %>
        </li>
        <li>Shortened URL:
            <%= shortURL %>
        </li>
    </ul>
</body>

</html>